body {
    background-color: black;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    color: white;
}

.topContainer {
    background-color: #16181f;
    width: 70%;
    margin: 30px auto 0;
    border-radius: 8px;
}

@keyframes slide1 {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}
@keyframes slide2 {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0%);
    }
}
@keyframes slide3 {
    from {
        transform: translateX(-30%);
    }

    to {
        transform: translateX(-100%);
    }
}

.container {
    overflow: hidden;
    white-space: nowrap;
}

.imgHolder1 {
    white-space: nowrap;
    display: inline-block;
    animation: 30s slide1 infinite linear;
}

.imgHolder2 {
    white-space: nowrap;
    display: inline-block;
    animation: 30s slide2 infinite linear;
}

.imgHolder3 {
    white-space: nowrap;
    display: inline-block;
    animation: 25s slide3 infinite linear;
}

.img {
    height: 150px;
    margin: 0 5px;
    object-fit: cover;
}

.flexContainer {
    display: flex;
    flex-direction: row;
}

.flex1 {
    width: 40%;
    background-image: linear-gradient(to right, rgba(0, 0, 0), #16181f);
}

.flex2 {
    width: 60%;
}

.loginComp {
    padding: 0 50px;
}

.loginText {
    font-size: large;
    font-weight: 800;
}

.inputsHolder {
    display: flex;
    justify-content: space-between;
}

.input1 {
    width: 15%;
    pointer-events: none;
    cursor: none;
}

.input2 {
    width: 80%;
}

.otpBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.otpBtn button {
    margin-top: 180px;
    width: 100%;
}

.having {
    align-items: center;
}
.having a {
    color: #1976d2;
    font-weight: 700;
}

.otpInput {
    width: 40px;
    height: 40px;
    margin: 5px;
    text-align: center;
    font-size: 1em;
    border: #E0E3E7;
    background-color: #A0AAB4;
}
.otpInput:focus {
    border: #6F7E8C;
}

.fillOtp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
