@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #2d2d2b;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.container {
    overflow: hidden;
    padding: 40px 0;
    white-space: nowrap;
}

.imgHolder {
    display: inline-block;
    animation: 25s slide infinite linear;
}

.img {
    height: 400px;
    margin: 0 40px;
}